{% extends 'base.html.twig' %}

{% block title %}Connexion - Thalia{% endblock %}

{% block body %}

<div class="fixed inset-0 z-50 bg-slate-900/60 backdrop-blur-sm flex items-center justify-center p-4 overflow-y-auto">
    
    
    {% include 'security/_login.html.twig' %}

</div>
{% endblock %}